.the-table{
    margin-top: 50px;
    background: #277714;
    border-radius: 10px;
    padding: 20px;
}

.the-numbers{
    color: white;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.player-message{
    font-size: 30px;
    color: orange;
}
